{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/addvehicle.css"/>


<script type="text/javascript" src="/static/master.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<form method="POST">
  {% if form.marcaMasina.errors or form.modelMasina.errors or form.numarInmatriculare.errors or form.kilometraj.errors or form.capacitateCilindrica.errors or form.anFabricatie.errors or form.codMotor.errors or form.VIN.errors or form.detaliiMasina.errors%}
    <div class="alert alert-danger" role="alert">
  {% endif %}

  {% if form.marcaMasina.errors %}
    {% for error in form.marcaMasina.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.modelMasina.errors %}
    {% for error in form.modelMasina.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.numarInmatriculare.errors %}
    {% for error in form.numarInmatriculare.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.kilometraj.errors %}
    {% for error in form.kilometraj.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.capacitateCilindrica.errors %}
    {% for error in form.capacitateCilindrica.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.anFabricatie.errors %}
    {% for error in form.anFabricatie.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}


  {% if form.codMotor.errors %}
    {% for error in form.codMotor.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.VIN.errors %}
    {% for error in form.VIN.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.detaliiMasina.errors %}
    {% for error in form.detaliiMasina.errors %}
      {{ error }}
      <br>
    {% endfor %}
  {% endif %}

  {% if form.marcaMasina.errors or form.modelMasina.errors or form.numarInmatriculare.errors or form.kilometraj.errors or form.capacitateCilindrica.errors or form.anFabricatie.errors or form.codMotor.errors or form.VIN.errors or form.detaliiMasina.errors%}
    </div>
  {% endif %}
</form>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Introdu detaliile masinii</h3>
			</div>
			<div class="card-body card-body-custom">

        <form method="POST">
          {{ form.hidden_tag() }}
          {{ form.csrf_token }}

        <div class="selector">
          <label for="mark">Marca Autovehicul</label>
          <div class="mark-and-model-selector">
            {{ form.marcaMasina(class_="form-control") }}
          </div>
          <label for="model">Model Autovehicul</label>
          <div class="mark-and-model-selector">
              {{ form.modelMasina(class_="form-control") }}
          </div>
        </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.numarInmatriculare(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.kilometraj(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.anFabricatie(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.combustibil(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.capacitateCilindrica(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.codMotor(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.VIN(class_="form-control") }}
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{ form.detaliiMasina(class_="form-control") }}
          </div>

          <div class="form-group">
            {{ form.submit(class_="btn float-right login_btn") }}
          </div>
          <a class="btn float-left btn-primary" href="{{ url_for('useri.userhome', email=current_user.email)}}">Inapoi</a>

        </form>
      </div>
    </div>
  </div>
</div>

<script>


  var marcaSelect = document.getElementById("marcaMasina");
  var modelSelect = document.getElementById("modelMasina");
  marcaSelect.onchange = function() {
    marca = marcaSelect.value;
    fetch('/model/' + marca).then(function(response){
      response.json().then(function(data) {
        var optionHTML = '';
        for(var model of data.modele) {
          optionHTML += '<option value="' + model.IDAuto + '">' + model.modelMasina + '</option>';

        }

        modelSelect.innerHTML = optionHTML;
      })
    });
  }
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
